$big:14px;
$big_color:#444;
$small:12px;
$small_color:#999;
$l:left;
$r:right;
$center_wh:950px;
$center:0 auto;
$bg:#f8f8f8;
.footer{
	background: #fff;
	.center{
		width:$center_wh;
		margin: $center;
	}
	.footer_top{
		border-bottom: solid 1px #ddd;
		padding-top: 15px;
		dl{
			float:$l;
			width:115px;
			height:120px;
			padding-left: 5px;
			border-right: 1px solid #bbb;
			dt{
				font-size: $small;
			    color: $small_color;
			    margin-bottom: 5px;
			    font-weight: 900;
			} 
			dd{
				margin-top: 10px;
				font-size: 12px;
				color:#bbb;
			}
			a{
				color: $small_color;
			}
			a:hover{
				color:#f60;
				text-decoration: underline;

			}
		}
		.qq{
			%bg{
				width: 30px;
			    height: 27px;
			    margin-right: 5px;
			    display:inline-block;
			    background: url(../images/shequ.gif) no-repeat
			}
			.weibo{
				@extend %bg;
				background-position:  0 0; 
			}
			.facebook{
				@extend %bg;
				background-position: -34px 0;
			}
			.wechart{
				@extend %bg;
				background-position:  -70px 0;
			}
			.weibo:hover{
				background-position:  0 -27px; 
			}
			.facebook:hover{
				background-position: -34px -27px;
			}
			.wechart:hover{
				background-position:  -70px -27px;
			}

		}
		.last{
			border:0;
			dd{
				width:215px;
				p{
					display:inline-block;
				}
			}
		}
		.footer_imglink a{
			display: inline-block;
			height: 51px;
			margin-right: 26px;
			line-height: 51px;
			padding: 20px 0;
			img{
				vertical-align: middle;
			}
		}
	}
	.links{
			a{
				color:$small_color;
				line-height: 24px;
				padding:  0 8px;
				border-right: 2px solid #bfbfbf;
			}
			color:$small_color;
			font-size: $small;
			border-bottom: 1px solid #ddd;
		}
	.footer_bottom{
		.footer_panli{
			a{
				display: inline-block;
			    padding: 20px 50px 20px 0;
			    color:$small_color;
			    font-size: $big;
			}
		}
		p{
			color:$small_color;
			font-size: $small;
			a{
				text-decoration: underline;
				color:$small_color;
			}
		}
		
		
		.last{
			line-height: 20px;
            margin: 10px 0 20px;
		}
	}
}