$center_wh:1200px;
$center:0 auto;
$l:left;
.middlenav{
	padding-top: 19px;
	.center{
		width:$center_wh;
		margin:$center;
	}
	.search{
		position: relative;
		display: block;
		margin-top: 0;
		margin-left: 418px;
		margin-bottom: 14px;
		.search-input{
			width: 548px;
			line-height: 24px;
			border: 0;
			float:left;
			padding-left: 90px;
			width: 548px;
			line-height: 24px;
			border: 2px solid #ff6e6e;
			padding: 5px 10px;
			height: 20px;
			display: inline;
			position: relative;

		}
		
		.daigou{
			position: relative;
			overflow: hidden;
			background: #ff6e6e;
			color: #fff;
			display: block;
			width: 92px;
			line-height: 20px;
			font-size: 18px;
			cursor: pointer;
			border: 2px solid #ff6e6e;
			padding: 5px 10px;
			height: 20px
		}
		p{
			a{
				color: #999;
			}
			color: #999;
			font-size: 12px;
			line-height: 25px;
			padding-left: 12px;
			overflow: hidden;
			float: $l;
		}
	}
	
}