/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, input {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  border: 0;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}

html, body {
  height: 100%;
  width: 100%;
}

#gg {
  width: 100%;
  height: 80px;
  background: #E0EFF5 url(http://img.panlidns.com/CMS/bottomads/305/backgroundimage.jpg) repeat-x 0 0px;
}
#gg .center {
  height: 80px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
#gg .gg-img {
  cursor: pointer;
  display: block;
  height: 80px;
  width: 1200px;
}
#gg .gg-img img {
  display: block;
}
#gg .close {
  background: url(http://img.panlidns.com/CMS/bottomads/304/close.gif) no-repeat center;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 0px;
  top: 5px;
  z-index: 20;
  display: block;
  padding: 0 0 0 2px;
}

.topnav {
  width: 100%;
  background-color: #f8f8f8;
  font-size: 12px;
}
.topnav .center {
  width: 1200px;
  margin: 0 auto;
  padding-top: 6px;
  height: 28px;
}
.topnav .left {
  float: left;
}
.topnav .left li {
  float: left;
  line-height: 20px;
  position: relative;
  padding-left: 30px;
}
.topnav .left li a {
  vertical-align: middle;
  color: #444;
  margin-right: 30px;
}
.topnav .right {
  float: right;
}
.topnav .right .float {
  float: left;
  line-height: 20px;
  position: relative;
  padding-left: 30px;
}
.topnav .right .float a {
  color: #444;
  margin-right: 30px;
}
.topnav .right .help {
  position: absolute;
  top: 17px;
  left: -1px;
  display: none;
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-top: 0;
  z-index: 99;
  text-align: center;
}
.topnav .right .help a {
  width: 78px;
  height: 40px;
  line-height: 40px;
  display: block;
}
.topnav .right .display:hover .help {
  display: block;
}
.topnav .right .focuswx {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.topnav .hover {
  width: 110px;
  height: 132px;
  z-index: 12;
  background: #f8f8f8;
  position: absolute;
  top: 25px;
  left: -19px;
  display: none;
}
.topnav .hover img {
  position: absolute;
  top: 8px;
  left: 13px;
}
.topnav .picture {
  background: url(../images/icon.png) no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  position: absolute;
}
.topnav .wx {
  background-position: 0 -150px;
  top: -4px;
  left: 0px;
}
.topnav .facebook {
  background-position: -30px -150px;
  top: -4px;
  left: 0px;
}
.topnav .cart {
  background-position: -30px 0;
  top: -6px;
  left: 0px;
}
.topnav .mypanli {
  background-position: -92px 0;
  top: -5px;
  left: 0px;
}
.topnav .my {
  background-position: -61px 0;
  top: -5px;
  left: 0px;
}
.topnav .focus {
  background-position: -60px -30px;
  top: -4px;
  right: 5px;
}
.topnav .helpcenter {
  background-position: -60px -30px;
  top: -4px;
  right: 5px;
}

.middlenav {
  padding-top: 19px;
}
.middlenav .center {
  width: 1200px;
  margin: 0 auto;
}
.middlenav .search {
  position: relative;
  display: block;
  margin-top: 0;
  margin-left: 418px;
  margin-bottom: 14px;
}
.middlenav .search .search-input {
  width: 548px;
  line-height: 24px;
  border: 0;
  float: left;
  padding-left: 90px;
  width: 548px;
  line-height: 24px;
  border: 2px solid #ff6e6e;
  padding: 5px 10px;
  height: 20px;
  display: inline;
  position: relative;
}
.middlenav .search .daigou {
  position: relative;
  overflow: hidden;
  background: #ff6e6e;
  color: #fff;
  display: block;
  width: 92px;
  line-height: 20px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid #ff6e6e;
  padding: 5px 10px;
  height: 20px;
}
.middlenav .search p {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  padding-left: 12px;
  overflow: hidden;
  float: left;
}
.middlenav .search p a {
  color: #999;
}

.bottomnav {
  background: #f8f8f8;
  text-align: center;
}
.bottomnav .center {
  width: 1200px;
  margin: 0 auto;
}
.bottomnav .center .nav li {
  float: left;
  width: 150px;
  height: 38px;
  position: relative;
}
.bottomnav .center .nav .nav_1 {
  color: #fff;
  background-color: #ff6e6e;
}
.bottomnav .center .nav li:hover a {
  color: #fff;
  background-color: #ff6e6e;
}
.bottomnav .center .nav a {
  color: #444;
  line-height: 38px;
  display: block;
}
.bottomnav .center .nav .new {
  top: -9px;
  right: 25px;
  width: 37px;
  height: 21px;
  background: url(../images/new-sm.png) center center no-repeat;
  position: absolute;
  display: block;
}

.banner ul li {
  display: none;
}
.banner ol {
  position: absolute;
  bottom: 15px;
  width: 900px;
  text-align: center;
}
.banner ol li {
  background: #fff;
  display: inline-block;
  opacity: 0.6;
  filter: alpha(opacity=60);
  width: 12px;
  height: 12px;
  margin: 0 3px;
  border-radius: 50%;
  cursor: pointer;
}
.banner ol .click {
  opacity: 1;
}
.banner img {
  display: block;
}

.section {
  position: relative;
}
.section .notice {
  position: absolute;
  top: 0;
  right: 100px;
}
.section .notice .notice_list {
  background: rgba(255, 255, 255, 0.8);
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.section .notice .notice_list li {
  line-height: 100%;
  margin: 19px 30px 0;
  font-size: 12px;
}
.section .notice .notice_list a {
  color: #696969;
}
.section .notice .notice_list a:hover {
  text-decoration: underline;
}
.section .notice .notice_img {
  background: rgba(255, 255, 255, 0.8);
}
.section .notice .notice_t {
  color: #ea3838;
  text-align: center;
  line-height: 100%;
  padding: 20px 0 5px;
  font-weight: normal;
  font-size: 16px;
}

.footer {
  background: #f8f8f8;
}
.footer .center {
  width: 1200px;
  margin: 0 auto;
}
.footer .footer_top {
  border-bottom: solid 1px #ddd;
  padding-top: 15px;
}
.footer .footer_top dl {
  float: left;
  width: 150px;
}
.footer .footer_top dl dt {
  font-size: 14px;
  color: #444;
}
.footer .footer_top dl dd {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}
.footer .footer_top .focus_wx {
  margin-right: 80px;
}
.footer .footer_top .focus_wx, .footer .footer_top .phone {
  width: 100px;
  float: right;
  display: inline;
  text-align: center;
}
.footer .footer_top .focus_wx span, .footer .footer_top .phone span {
  font-size: 14px;
  color: #444;
}
.footer .footer_top .focus_wx img, .footer .footer_top .phone img {
  margin-top: 10px;
}
.footer .footer_bottom .footer_panli a {
  display: inline-block;
  padding: 20px 50px 20px 0;
  color: #999;
  font-size: 14px;
}
.footer .footer_bottom p {
  color: #999;
  font-size: 12px;
}
.footer .footer_bottom p a {
  text-decoration: underline;
  color: #999;
}
.footer .footer_bottom .footer_imglink a {
  display: inline-block;
  height: 51px;
  margin-right: 26px;
  line-height: 51px;
}
.footer .footer_bottom .footer_imglink a img {
  vertical-align: middle;
}
.footer .footer_bottom .links {
  color: #999;
  font-size: 12px;
}
.footer .footer_bottom .links a {
  color: #999;
  padding-right: 8px;
}
.footer .footer_bottom .last {
  line-height: 20px;
  margin: 10px 0 20px;
}

.content .center {
  width: 1220px;
  margin: 0 auto;
}
.content .tuijian div {
  float: left;
}
.content .tuijian div a {
  display: block;
  overflow: hidden;
  margin: 10px 10px 0 0;
}
.content .main div {
  float: left;
  width: 242px;
}
.content .main div a {
  display: block;
  overflow: hidden;
  margin: 10px 10px 0 0;
}

#loutinav {
  width: 41px;
  position: fixed;
  top: 100px;
  right: 50px;
  border: 1px solid #ddd;
  z-index: 99;
}

#loutinav ul li {
  width: 41px;
  height: 41px;
  border-bottom: 1px solid #DDDDDD;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  padding: 10px;
  background: #f8f8f8;
}

ul li span {
  width: 41px;
  height: 41px;
  position: absolute;
  top: 20%;
  left: 20%;
}

#loutinav .first span {
  background: url(../images/online-kefu.png) no-repeat;
}

#loutinav .second span {
  background: url(../images/online-phone.png) no-repeat;
}

#loutinav .third span {
  background: url(../images/online-black.png) no-repeat;
}

#loutinav .last {
  padding: 0 10px;
  height: 29px;
}

#loutinav a {
  display: none;
}

/*# sourceMappingURL=index.css.map */
